/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  上面是清除各浏览器，差异化的样式
*/

a,a:focus,a:hover {text-decoration: none;}
a {display: block;}
img {max-width: 100%;}
body {
  background-color: #eff2f4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue,
  Helvetica,
  PingFang SC,
  Hiragino Sans GB,
  Microsoft YaHei,
  Arial,
  sans-serif;
}
div,ul,li {background: rgba(0, 0, 0, 0.1);}
/* 
  flex布局 
*/
.ju_Center {display: flex;justify-content: center;}
.ju_Between {display: flex;justify-content: space-between;}
.ju_Around {display: flex;justify-content: space-around;}
.al_Center {display: flex;align-items: center;}
.ju_Start {display: flex;justify-content: flex-start;}

/* 间距 */
.p20 {padding: 20px;}
.mb20 {margin-bottom: 20px;}
/* 
  下面是掌心宝贝-幼儿园管理平台的公共样式
*/
#menu {width: 220px;}
#menu dt {height: 56px;padding: 0 20px;display: flex;align-items: center;justify-content: space-between;}
#menu dt.cur {border-left: 2px solid #01c0c8;background-color: hsla(0, 0%, 62%, .06);}
#menu dt:hover {background-color: #e6f9fa;}
#menu dd {display: none;box-shadow: 0 0 14px 4px rgba(0, 0, 0, .1) inset;}
#menu dd li {height: 50px;line-height: 50px;padding: 0 40px;display: flex;font-size: 14px;}
#menu dd li:hover {background-color: #e6f9fa;}
#menu dd li svg {width: 14px;margin-right: 10px;}
#menu .menu_Item {font-size: 14px;display: flex;align-items: center;color: #2c2c2c;}
#menu .menu_Item svg {width: 16px;margin-right: 18px;}

.sidebar_Left {width: 220px;background: #fff;}
.sidebar_Left .header {width: 220px;height: 60px;background-color: #01c0c8;display: flex;align-items: center;padding: 0 20px;}
.sidebar_Left .header_logo {width: 40px;height: 40px;margin-right: 20px;}
.sidebar_Left .header_Title {font-size: 20px;color: #fff;}
.main_Right {width: calc(100% - 220px);background-color: #edf1f5;}
.main_Right .nav {display: flex;justify-content: space-between;align-items: center;height: 60px;background-color: #01c0c8;}
.main_Right .path {height: 56px;line-height: 56px;background-color: #fff;padding: 0 20px;font-size: 14px;color: #2c2c2c;}
.main_Right .path em {margin: 0 10px;color: #8a8a8a;}
.main_Right .path span{cursor: pointer;}
.main_Right .path span:hover {color: #01c0c8;}
.main_Right .panel_Cont {padding: 20px 15px;display: flex;}
.main_Right .panel_Cont .w70pct {width: 70%;padding: 0 10px;box-sizing: border-box;}
.main_Right .panel_Cont .w30pct {width: 30%;padding: 0 10px;box-sizing: border-box;}

.main_Right .nav .school {height: 60px;}
.main_Right .nav #school_Choose {height: 38px;line-height: 18px;padding: 10px;background-color: #04b1b8;color: #fff;font-size: 14px;border-radius: 4px;box-sizing: border-box;cursor: pointer;margin-top: 11px;}
.main_Right .nav #school_List {height: 300px;position: absolute;background: #fff;top: 48px;border-radius: 4px;padding: 8px 28px 8px 8px;box-sizing: border-box;overflow-y: scroll;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);margin-top: 6px;display: none;}
.main_Right .nav #school_List li {height: 36px;line-height: 36px;font-size: 14px;color: #8a8a8a;cursor: pointer;}
.main_Right .nav #school_List li:hover {color: #515151;}
.main_Right .nav .user {display: flex;justify-content: center;align-items: center;cursor: pointer;position: relative;}
.main_Right .nav .userPic {width: 40px;height: 40px;border-radius: 50%;overflow: hidden;}
.main_Right .nav .userName {padding-right: 20px;padding-left: 10px;display: flex;color: #fff;}
.main_Right .nav .userName::after {display: block;content: '';border: 5px solid;border-color: #fff transparent transparent transparent;margin-top: 6px;margin-left: 6px;}
.main_Right .nav .userList {position: absolute;top: 40px;z-index: 1;padding: 10px 0;margin: 5px 0;background-color: #fff;border: 1px solid #ebeef5;border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);display: none;}
.main_Right .nav .userList_Item {line-height: 36px;padding: 0 20px;margin: 0;font-size: 14px;color: #606266;cursor: pointer;}
.main_Right .nav .userList_Item:hover {color: #34cdd3;background-color: #e6f9fa;}
.main_Right .nav .userList::after {display: block;content: '';border: 8px solid;border-color: transparent transparent #fff transparent;position: absolute;top: -15px;right: 30px;}
.main_Right .nav .userList::before {display: block;content: '';border: 8px solid;border-color: transparent transparent #ebeef5 transparent;position: absolute;top: -16px;right: 30px;}

.el_box {background: #fff;box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);margin-bottom: 24px;border-radius: 4px;}
.el_header {height: 59px;font-size: 16px;padding: 20px 20px 0px 20px;border-bottom: 1px solid #ebeef5;box-sizing: border-box;color: #2c2c2c;}
.el_table {border-collapse: collapse;width: 100%;text-align: center;}
.el_table thead {background: #eef1f6;height: 56px;line-height: 56px;}
.el_table tbody tr {height: 66px;line-height: 66px;}
.el_table tbody tr:hover {background: #e5f9fa;}
.el_table th,.el_table td {border: 1px solid #ebeef5;padding: 0 8px;font-size: 14px;color: #515151;}
.el_table th {font-weight: 600;color: #2c2c2c;}
.el_table a.operation {font-size: 12px;font-weight: 600;color: #01c0c8;}
.el_form_Item {margin-right: 20px;height: 36px;}
.el_Input {width: 180px;height: 36px;line-height: 36px;background-color: #fff;background-image: none;border-radius: 4px;border: 1px solid #dcdfe6;box-sizing: border-box;color: #606266;display: inline-block;font-size: 12px;outline: none;padding: 0 10px;transition: border-color .2s cubic-bezier(.645, .045, .355, 1);}
.el_Input:focus {outline: none;border-style: solid;border-color: #01c0c8;box-shadow: 0 0 4px #01c0c8;}
/* WebKit, Blink, Edge */
.el_Input::-webkit-input-placeholder {color: #01c0c8;font-size: 12px;text-align: left;}
/* Mozilla Firefox 4 to 18 */
.el_Input:-moz-placeholder {color: #01c0c8;font-size: 12px;text-align: left;}
/* Mozilla Firefox 19+ */
.el_Input::-moz-placeholder {color: #01c0c8;font-size: 12px;text-align: left;}
/* Internet Explorer 10-11 */
.el_Input:-ms-input-placeholder {color: #01c0c8;font-size: 12px;text-align: left;}
.el_Radio {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #01c0c8;
}
.el_Radio input {

}
.el_Label {font-size: 12px;color: #515151;margin-right: 10px;padding: 10px 0;}
.el_TextRight {
  float: left;
  width: 80px;
  height: 16px;
  line-height: 16px;
  text-align: right;
}
.el_Select {width: 200px;height: 40px;background: #fff;border-color: #dcdfe6;}
.el_button {color: #fff;background-color: #01c0c8;border-color: #01c0c8;border-radius: 4px;padding: 0 20px;font-weight: 600;margin-right: 20px;cursor: pointer;height: 36px;}
.el_button:hover {background: #34cdd3;border-color: #34cdd3;}
.el_button_white {color: #515151;border: 1px solid #dcdfe6;border-radius: 4px;padding: 0 20px;font-weight: 600;cursor: pointer;}
.el_button_white:hover {color: #01c0c8;border-color: #b3ecef;background-color: #e6f9fa;}
.el_button.ban {background-color: #80e0e4;border-color: #80e0e4;cursor: not-allowed;}
.el_Paging {display: flex;justify-content: flex-start;align-items: center;font-size: 12px;color: #515151;}
.el_Paging_Item {height: 28px;line-height: 28px;text-align: center;margin: 0 5px;background-color: #f4f4f5;color: #606266;min-width: 30px;border-radius: 2px;cursor: pointer;}
.el_Paging_Item.cur {background-color: #01c0c8;color: #fff;}
.el_Paging_Input {width: 46px;height: 28px;border: 1px solid #eee;border-radius: 4px;padding: 0 4px;box-sizing: border-box;padding-left: 10px;margin: 0 4px;}
.el_Paging_Num {margin-right: 4px;}
.footer {height: 60px;line-height: 60px;background: #fff;text-align: center;font-size: 14px;color: #2c2c2c;}






.service_Item {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0px;
  font-size: 14px;
  color: #34cdd3;
}
.service_Item span {
  padding: 0 10px;
  font-weight: 600;
}
.feedbackBtn {
  border-radius: 20px;
  padding: 10px 24px;
  cursor: pointer;
  border: 1px solid #dcdfe6;
}
.feedbackBtn:hover {
  color: #34cdd3;
  background-color: #e6f9fa;
  border-color: #b3ecef;
}
.quickEntry_Item {
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}
.quickEntry_Item:hover {
    color: #34cdd3;
    background-color: #e6f9fa;
    border-color: #b3ecef;
}
.quickEntry_Item svg {
  width: 14px;
  margin-right: 10px;
}
.active_Item {
  width: calc(100% / 3);
  text-align: center;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.active_Item h6 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 20px;
}
.active_Item span {
  color: #8a8a8a;
}

.overall_Data_Item {
  width: 22%;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px 12px;
  box-sizing: border-box;
  border-radius: 4px;
}
.overall_Data_Icon {
  width: 68px;
  height: 68px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c8d3dd;
  transition:All 0.2s ease-in-out;
}
.overall_Data_Icon svg {
  padding: 14px;
  box-sizing: border-box;
}
.overall_Data_Item:hover .overall_Data_Icon {
  background-color: #e0e9f2;
}
.overall_Data_Title {
  width: calc(100% - 68px);
  color: #8a8a8a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.overall_Data_Title p {
  font-size: 14px;
  font-weight: 600;
}
.overall_Data_Title h6 {
  color: #707070;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
/* 
  选项卡（切换表单）
*/
#tab ol {display: flex;justify-content: flex-start;}
#tab ol li {font-weight: 600;margin-right: 30px;}
#tab ol li.cur {color: #01c0c8;border-bottom: 2px solid #01c0c8;}
#tab ul li.tabPanel_Item {display: none;}
/* 
  模态框 弹窗样式
*/
.Modal_Mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 60px 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}
.Modal_AddWrap {
  width: 750px;
  background: #fff;
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}
/* 
  媒体查询 (max-width: 1440px) media="小于等于1440px"
*/
@media only screen and (max-width: 1440px) {
  .main_Right {
    width: 1220px;
  }
  .main_Right .panel_Cont .w70pct {
    width: 833px;
  }
  .main_Right .panel_Cont .w30pct {
    width: 357px;
  }
  .el_table {
    width: 1138px;
  }
}